<section class="container--extend">
  <div class="clearfix timer-header">
    <div id="timer-name">Timer</div>
    <div id="vol-slide">
      <span id="vol-icon">
        <i class="fas fa-volume-up vol-style"></i>
      </span>
    </div>
    <div class="controls">
      <button class="btn btn-secondary btn-lg" id="start" disabled="disabled">
        <i class="fas fa-play play-style"></i>
      </button>
    </div>
  </div>
  <div class="shadow border border-dark" id="timer">00:00</div>
  <input name="task-time" type="hidden" value=<%= task_time_value %> class="set-task-time">
  <div class="timer-info">タイマーはプロフィールから変更できます</div>
</section>
