<% if resource.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <% if adjust_position == "registrations_edit" %>
      <ul style="margin-left: 345px;">
    <% else %>
      <ul style="margin-left: 50px; text-align: left;">
    <% end %>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  </div>
<% end %>
