@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* universal */

body {
  padding-top: 60px;
  font-family: 'Courier New', sans-serif;
  font-size: 14px;
  background: #eee;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}



/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: powderblue;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  // color: blue;
  text-decoration: none;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.field_with_errors {
  display: contents;
}

/* work */
.cover {
  background: url(img/nixie.jpg);
  /* background-size: cover; */
  background-size: auto;
}

.container--extend {
  margin: 20px auto;
  /* width: 365px; */
  width: 560px;
  /* height: 500px; */
  background: #fff;
  padding: 15px;
  text-align: center;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.controls {
  /* overflow: hidden; */
  /* height: 80px; */
  display: grid;
  grid-template-areas:
    "mi mi mp mp . . se se sp sp . . . . re re . st st"
    "mi mi mm mm . . se se sm sm . . . . re re . st st";
}

.h-100 {
  height: 100% !important;
}

.dropdown-menu {
  min-width: inherit;
  z-index: 100;
}

#timer-name{
  float: left;

}

#timer-name:hover {
  color: brown;
  cursor: pointer;
}

#vol-slide{
  float: right;
}

#vol-icon:hover{
  color: brown;
  cursor: pointer;
}

#timer {
  background: rgba(255, 217, 0, 0.63);
  height: 120px;
  line-height: 120px;
  font-size: 60px;
  margin-bottom: 15px;
  border-radius: 30px;
}

#min {
  grid-area: mi;
}

#min-plus {
  grid-area: mp;
}

#min-minus {
  grid-area: mm;
}

#sec {
  grid-area: se;
}

#sec-plus {
  grid-area: sp;
}

#sec-minus {
  grid-area: sm;
}

#reset {
  grid-area: re;
}

#start {
  grid-area: st;
}

.play-style {
  color: lemonchiffon;
}

.pause-style {
  color: snow;
}

.stop-style {
  color: black;
}

#table-title {
  font-family: 'Courier New', sans-serif;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.aside-profile-top {
  line-height: 1.5em;
  a {
    color: black;
    &:hover {
      text-decoration: none;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.user-name {
  margin-top: 10px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid gray;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

.users-index-name {
  font-size: 16px;
  margin-top: 12px;
  a {
    color: black;
    &:hover {
      text-decoration: none;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  // @extend .has-error;
  @extend .is-invalid;
  .form-control {
    // color: $state-danger-text;
    color: #a94442;
  }
}

/* user account form */

.form-wrapper {
  text-align: center;
  background-color: floralwhite;
  padding: 30px;
  border-radius: 5px;
}

.field {
  margin-top: 10px; 
  margin-bottom: 10px; 
}

.form {
  display: inline-block;
  // border: solid 1px black;
}

.form-label {
  max-width: 400px;
  @media screen and (max-width: 767px) {
    text-align: left;
  }
  @media screen and (min-width: 768px) {
    text-align: right;
    vertical-align: top;
    width : 120px;
    margin-right: 15px;
  }
}

.form-field {
  max-width: 400px;
}

.form-area {
  max-width: 400px;
  height: 60px;
}

// .field {
//   border: solid 1px black;
// }

// .remember-me {
//   border: solid 1px black;
// }

.check-box {
  width: 10px;
}

// .check-label {
//   border: solid 1px blue;
// }

.btn-login,
.btn-guest-login,
.btn-signup,
.btn-profile {
  margin: 5px 0;
  width: 200px;
}

.under-link {
  // border: solid 1px black;
  margin: 0 auto;
  width: 200px;
  .back-link a {
    float: left;
    &:hover {
      text-decoration: none;
    }
  }
  .delete-profile a {
    float: right;
    &:hover {
      text-decoration: none;
    }
  }
}

.btn-profile-link,
.btn-follow {
  width: 145px;
  margin-bottom: 30px;
  font-weight: bold;
}

.devise-shared-links {
  a:hover {
    text-decoration: none;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid white;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: darkolivegreen;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

.gravatar-radius {
  border-radius: 300px;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* pagination */

.pagination {
  .active > a {
    background: skyblue;
    border-radius: 5px;
  }
  li > a {
    border: none;
    color: #696969;
    &:hover {
      background: whitesmoke;
      border-radius: 5px;
    }
  }
}
