@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* universal */

body {
  padding-top: 60px;
  font-family: 'Courier New', sans-serif;
  font-size: 14px;
  background: #eee;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}



/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: powderblue;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  // color: blue;
  text-decoration: none;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.field_with_errors {
  display: contents;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* timer */

.container--extend {
  margin: 20px auto;
  // width: 365px;
  background: #fff;
  padding: 15px;
  text-align: center;
}

.timer-header {
  padding-top: 10px;
}

.controls {
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
}

#timer-name{
  float: left;
  font-size: 30px;
}

#vol-slide{
  float: left;
  font-size: 32px;
  margin-top: 5px;
  margin-left: 10px;
}

#vol-icon:hover{
  color: brown;
  cursor: pointer;
}

#timer {
  background: rgba(255, 217, 0, 0.63);
  height: 120px;
  line-height: 120px;
  font-size: 60px;
  margin-bottom: 15px;
  border-radius: 30px;
}

.play-style {
  color: lemonchiffon;
}

.pause-style {
  color: snow;
}

.timer-info {
  text-align: right;
  color: gray;
  font-size: 10px;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.aside-profile-top {
  line-height: 1.5em;
  a {
    color: black;
    &:hover {
      text-decoration: none;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.user-name {
  margin-top: 10px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid gray;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

.users-index-name {
  font-size: 16px;
  margin-top: 12px;
  a {
    color: black;
    &:hover {
      text-decoration: none;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  // @extend .has-error;
  @extend .is-invalid;
  .form-control {
    // color: $state-danger-text;
    color: #a94442;
  }
}

.errors-full-messages {
  list-style: none
}

/* user account form */

.form-wrapper {
  text-align: center;
  background-color: floralwhite;
  padding: 30px;
  border-radius: 5px;
}

.field {
  margin-top: 10px; 
  margin-bottom: 10px; 
}

.form {
  display: inline-block;
  // border: solid 1px black;
}

.form-label {
  max-width: 400px;
  @media screen and (max-width: 767px) {
    text-align: left;
  }
  @media screen and (min-width: 768px) {
    text-align: right;
    vertical-align: top;
    width : 120px;
    margin-right: 15px;
  }
}

.form-field {
  max-width: 400px;
}

.form-area {
  max-width: 400px;
  height: 60px;
}

// .field {
//   border: solid 1px black;
// }

// .remember-me {
//   border: solid 1px black;
// }

.check-box {
  width: 10px;
}

// .check-label {
//   border: solid 1px blue;
// }

.btn-login,
.btn-guest-login,
.btn-signup,
.btn-profile {
  margin: 5px 0;
  width: 200px;
}

.under-link {
  // border: solid 1px black;
  margin: 0 auto;
  width: 200px;
  .back-link a {
    float: left;
    &:hover {
      text-decoration: none;
    }
  }
  .delete-profile a {
    float: right;
    &:hover {
      text-decoration: none;
    }
  }
}

.btn-profile-link,
.btn-follow {
  width: 145px;
  margin-bottom: 30px;
  font-weight: bold;
}

.devise-shared-links {
  a:hover {
    text-decoration: none;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid white;
  }
}

/* home nav */

.nav-tabs {
  margin-bottom: 20px;

  .nav-link {
    font-weight: bold;
    color: gray;
  }

  .nav-link.active {
    color:#00CED1;
    background-color: whitesmoke;
    border-bottom: solid 3px #00CED1;
  }
}

.search-field {
  width: 94%;
  float: right;
}

.search-btn {
  display:block;
  width: 6%;
  height: 25px;
  border-radius: 4px 0 0 4px;
  border-right: none;
  color: gray;
  background: white;
  &:hover {
    background: gainsboro;
  }
}

.task-field {
  width: 92%;
  float: right;
}

.add-btn {
  @extend .search-btn;
  width: 8%;
}

/* notification */
.n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
}

.notification-link {
  a:hover {
    text-decoration: none;
  }
}

.notification-time-ago {
  float: right; 
  margin-left: .6em;
  color: darkolivegreen;
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
    a:hover {
      text-decoration: none;
    }
  }
  .content-link {
    color: black;
    &:hover {
      text-decoration: none;
    }
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .task {
    color: orangered;
    float: left;
  }
  .task-time {
    color: gray;
    float: left;
    margin-right: 0.7em;
  }
  .timestamp {
    color: darkolivegreen;
    display: block;
    margin-left: 60px;
    a:hover {
      text-decoration: none;
    }
    .time-ago {
      display: inline-block;
    }
  }
  .comment-link {
    display: inline-block;
    color: #45B29D;
    &:hover {
      text-decoration: none;
    }
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

#micropost-form-with,
#comment-form-with {
  .errors-full-messages {
    padding-left: 0;
    text-align: center;
  }
}

#micropost-content-area,
#comment-content-area {
  height: 140px;
}

.micropost-back {
  margin-top: 20px;
  float: right;
}

.comments-wrapper {
  border-left: solid 3px gray;
  margin-left: 20px;
}

/* comments */

.comments {
  @extend .microposts;
  margin-left: 10px;
}

.comment-title {
  margin-top: 20px;
}

/* likes */

.like {
  display: inline-block;
}

.btn-like {
  background:#eee;
  border: none;
}

.heart-like {
  color: red;
}

/* tasks */

.tasks {
  list-style: none;
  padding: 0;
  li {
    padding: 5px 0;
    border-top: 1px solid silver;
  }
  .name {
    margin-left: 20px;
    float: left;
  }
  .delete-task {
    text-align: right;
    margin-right: 10px;
    a:hover {
      text-decoration: none;
    }
  }
}

.display-term {
  margin-top: 30px;
}

.date-field {
  width: 75%;
}

/* with_css_class of date_select */

.year,
.month {
  width: 36%;
}

/* modal */

#modal-content {
  width: 380px;
  height: 370px;
  border-radius: 10px;
  padding-top: 15px;
  background: #fff;
  position: fixed;
  display: none;
  z-index: 1032;
}

#modal-overlay {
  z-index: 1031;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba( 0,0,0, 0.65 );
}

.modal-micropost-form {
  display: none;
  margin: 0 30px;
}

.gravatar-radius {
  border-radius: 300px;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* pagination */

.pagination {
  .active > a {
    background: skyblue;
    border-radius: 5px;
  }
  li > a {
    border: none;
    color: #696969;
    &:hover {
      background: whitesmoke;
      border-radius: 5px;
    }
  }
}

/* task graph */

.graph-change {
  font-size: 18px;
  &:hover {
    text-decoration: none;
  }
}

figure {
  background-color: #272b34;
  background-image :
    /* 方眼紙横線 */
    repeating-linear-gradient(to bottom,
       transparent 14px,
       rgba(255, 255, 255, 0.21) 15px,  rgba(255, 255, 255, 0.21) 15px,
       transparent 16px,  transparent 29px,
       rgba(255, 255, 255, 0.21) 30px,  rgba(255, 255, 255, 0.21) 30px,
       transparent 31px,  transparent 44px,
       rgba(255, 255, 255, 0.21) 45px,  rgba(255, 255, 255, 0.21) 45px,
       transparent 46px,  transparent 59px,
       rgba(255, 255, 255, 0.21) 60px,  rgba(255, 255, 255, 0.21) 60px,
       transparent 61px,  transparent 74px,
       rgba(255, 255, 255, 0.21) 75px,  rgba(255, 255, 255, 0.21) 75px),

    /* 方眼紙縦線 */
    repeating-linear-gradient(to right,
       transparent 14px,
       rgba(255, 255, 255, 0.21) 15px,  rgba(255, 255, 255, 0.21) 15px,
       transparent 16px,  transparent 29px,
       rgba(255, 255, 255, 0.21) 30px,  rgba(255, 255, 255, 0.21) 30px,
       transparent 31px,  transparent 44px,
       rgba(255, 255, 255, 0.21) 45px,  rgba(255, 255, 255, 0.21) 45px,
       transparent 46px,  transparent 59px,
       rgba(255, 255, 255, 0.21) 60px,  rgba(255, 255, 255, 0.21) 60px,
       transparent 61px,  transparent 74px,
       rgba(255, 255, 255, 0.21) 75px,  rgba(255, 255, 255, 0.21) 75px);

  font-family: 'Khula', sans-serif;
  font-weight: 300;
  color: white;
  line-height: 1em;
  padding: 2em;
  margin: 0 auto 20px;
  max-width: 1100px;
  position: relative;

  h3, h6 {
    margin: 0;
    line-height: 1em;
  }
  h3 {
    margin-bottom: 1em;
  }
  h6 {
    font-size: .9em;
    padding: 0 0 .5em;
    color: white;
  }
  .graphic {
    padding-left: 30px;
    max-height: 800px;
    overflow-y: scroll;
  }
  .row {
    margin-bottom: 1.5em;
  }
  @keyframes expand {
    from {width: 0%;}
    to {width: 100%;}
  }
  @media screen and (min-width: 768px) {
    @keyframes expand {
        from {width: 0%;}
        to {width: calc(100% - 75px);}
    }
  }
  .chart {
    overflow: hidden;
    width: 0%;
    animation: expand 1.5s ease forwards;
  }
  .row + .row .chart {
    animation-delay: .2s;
  }
  .row + .row + .row .chart {
    animation-delay: .4s;
  }
  .block {
    display: block;
    height: 100px;
    color: #fff;
    font-size: .75em;
    float: left;
    background-color: #334D5C;
    position: relative;
    overflow: hidden;
    opacity: 1;
    transition: opacity, .3s ease;
    cursor: pointer;
  }

  --task-color-1: aqua;
  --task-color-2: lime;
  --task-color-3: #45B29D;
  --task-color-4: gold;
  --task-color-5: #EFC94C;
  --task-color-6: #E27A3F;
  --task-color-7: #DF5A49;
  --task-color-8: #962D3E;
  --task-color-9: red;
  --task-color-10: hotpink;
  --task-color-11: magenta;
  --task-color-12: darkviolet;
  --task-color-13: mediumpurple;
  --task-color-14: dodgerblue;
  --task-color-15: mediumblue;
  --task-color-16: darkcyan;
  --task-color-17: mediumseagreen;
  --task-color-18: darkkhaki;
  --task-color-19: rosybrown;
  --task-color-20: firebrick;

  @for $i from 1 through 20 {
    .legend li:nth-of-type(#{$i}):before {
      background-color: var(--task-color-#{$i});
    }
  }

  .block:hover {
    opacity: .65;
  }
  .value {
    display: block;
    line-height: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }
  .x-axis {
    text-align: right;
  }
  .legend {
    margin-left: auto;
    padding: 0;
    font-size: .9em;
  }
  .legend li {
    display: inline-block;
    padding: .25em 1em;
    line-height: 1em;
  }
  .legend li:before {
    content: "";
    margin-right: .5em;
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #334D5C;
  }
  @media screen and (min-width: 768px) {
    h6 {
        padding: 0;
        width: 75px;
        float: left;
        line-height: 100px;
    }
    .block {
        font-size: 1em;
    }
  }
}
